* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", Arial, sans-serif !important;
    background-color: #82A79E !important;
    margin: 0;
    padding-top: 70px !important;
    overflow: hidden;
    background-image: url('img/Patron_Fondo_Trocha_negro.png');
    background-size: cover;
    background-attachment: fixed; /* Fix the background image */
    background-position: center;
}

/* body::after {
    content: '';
    background-image: url('img/Patron_Fondo_Trocha_negro.png');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
 */
/* 
body {
    font-family: "Lato", Arial, sans-serif !important;
    background-color: #82A79E !important;
    margin: 0;
    padding-top: 70px !important;
/*     overflow: hidden;
    background-image: url('img/Patron_Fondo_Trocha_negro.png');
    background-size: cover;
    background-position: center;
}
 */
h1 {
    padding-bottom: none !important;
    height: auto;
}

nav {
    background-color: #000000;
    padding: 0 20px;
    text-align: center !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 70px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: auto;
    padding: 0 !important;
    margin: 0;
}

.logo-img {
    max-width: 100%;
    height: auto;
    max-height: 50px;
    transition: transform 0.3s ease-in-out;
}

.logo-img:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}



  h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #000000 !important;
    font-weight: 700 !important;
  
  }

  .caja_texto {
    background-color: #82A79E !important;
    border-radius: 20px;
    padding: 2rem;

  }
  
  .texto {
    font-size: 1.5rem;
    text-align: center !important;
    color: #000000;
  
  
  }
  
  .animated-button {
    font-weight: 700 !important;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px; /* Separate from the rest of the section */
    border: none !important;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #000000 !important;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    animation: expandContract 2s infinite; /* Add animation */
  }
  
  .animated-button:hover {
    transform: scale(1.1);
    border: none;
  }
  
  .animated-button:active {
    outline: none !important;
  }
  
  @keyframes expandContract {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  
  #portada {
    height: calc(100vh - 70px); /* Restar la altura del encabezado (70px) al 100% del alto de la ventana (100vh) */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  
  }

#video {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center; /* Align items at the start (top) of the container */
    justify-content: center;
    overflow: hidden;
    position: relative; /* Added position relative to control child elements */
}

#video-container {
    width: 70vw;
    height: 70vh;
    margin: auto;
}

#btn-video {
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    background-color: #000000;
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
/* Initial opacity */
opacity: 0;
/* Transition properties */
transition: opacity 1s ease;
}


#btn-video a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#btn-video.show-button {
    opacity: 1;
}

#popup-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    max-height: 70%;
    transition: transform 0.3s ease-in-out;
    border-radius: 2rem;
}

@keyframes oscillate {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

#popup-image img:hover {
    animation: oscillate 3s infinite;
}