* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Lato", Arial, sans-serif !important;

    background-color: #000000 !important;
    margin: 0;
    padding-top: 70px !important;
    overflow: hidden;
/*     background-image: url('img/Patron_Fondo_Trocha.png');
 */    background-size: cover;
    background-position: center;
}

body::after {
    content: '';
    background: url('img/Patron_Fondo_Trocha.png');
    opacity: 0.5; /* Adjust the opacity of the overlay */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

h1 {
    padding-bottom: none !important;
    height: auto;
}

nav {
    background-color: #000000;
    padding: 0 20px;
    text-align: center !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /*     box-shadow: 0 2px 4px 0 rgba(73, 73, 73, 0.5);
 */
    height: 70px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: auto;
    padding: 0 !important;
    margin: 0;
}

.logo-img {
    max-width: 100%;
    height: auto;
    max-height: 50px;
    transition: transform 0.3s ease-in-out;
}

.logo-img:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



#video {
    height: calc(100vh - 70px);
    display: flex;
    align-items: flex-start; /* Align items at the start (top) of the container */
    justify-content: center;
    overflow: hidden;
    position: relative; /* Added position relative to control child elements */
    padding-top: 2rem;
}

.embed-responsive {
    width: 80%; /* Adjust this width as needed */
    max-width: 800px; /* Set a maximum width for responsiveness */
    position: absolute;
    top: 50%; /* Position the iframe 50% from the top */
    left: 50%; /* Position the iframe 50% from the left */
    transform: translate(-50%, -50%); /* Center the iframe */
}

/* Ensure iframe is responsive */
.embed-responsive::before {
    display: block;
    content: "";
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

/* #video-container {
    width: 70vw;
    height: 70vh;
    margin:  auto;
}
 */

#btn-video {
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    background-color: #82A79E;
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease;
}

#btn-video a {

    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* @media (max-width: 767px) {
    #video-container {
        width: 80vw;
        height: 80%;
    }
} */